.Layout {
  border: solid 2px rgb(184, 60, 147);
  min-height: 500px;
  padding: 40px;
  display: flex;
  gap: 20px;
  width: auto;
}

.Outlet {
  flex-grow: 1; /* 최대 너비를 차지하도록 설정 */
  border: solid 2px greenyellow;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
