.Layout {
  border: solid 2px rgb(184, 60, 147);
  min-height: calc(100vh);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.BodyTemp {
  display: flex;
  gap: 20px;
  width: auto;
}
.Banner {
  border: solid 2px rgb(238, 220, 117);
  height: 150px;
}

.Outlet {
  flex-grow: 1; /* 최대 너비를 차지하도록 설정 */
  border: solid 2px greenyellow;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
}
