.BoardDetail {
  flex-grow: 1;

  border: 1px solid #ddd;
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
}

.Detail_title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.Detail_date {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.Detail_content {
  font-size: 16px;
  line-height: 1.6;
}

.Detail_button_container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
}

.Detail_button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Detail_button:hover {
  background-color: #0056b3;
}
