.BoardLayout {
  border: 2px solid rgb(133, 133, 202);
  display: grid;
  gap: 20px;
}
.BoardLayout > div:first-child {
  font-size: 24px;
}

.board_header .title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.board {
  border: 1px solid #dd5050;
}

.board_header,
.board_body {
  display: flex;
  align-items: center;
  padding: 10px;
}

.board_header {
  border-bottom: 2px solid black;
  background-color: #791e1e;
  color: white;
}

.board_body {
  border-bottom: 1px solid #745959;
}

.board_number,
.board_title,
.board_date {
  text-align: center;
  padding: 0 10px;
}

.board_number {
  width: 15%;
}

.board_title {
  width: 70%;
  cursor: pointer;
}

.board_date {
  width: 15%;
}
