.Header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid 2px tomato;
  padding: 20px;
  height: 150px;
}

.Header_ {
  display: flex;
  justify-content: space-between;
}

.Home {
  cursor: pointer;
  height: fit-content;
}
.HeaderMenu {
  display: flex;
  gap: 20px;
}
.HeaderMenu > div:hover {
  cursor: pointer;
  text-decoration: underline;
}
