.Cal {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

.rbc-calendar .rbc-month-view .rbc-header {
  color: rgb(230, 5, 144);
  padding: 10px 0px;
}

.rbc-calendar .rbc-month-view .rbc-header:first-child {
  color: red;
}

.rbc-calendar .rbc-month-view .rbc-header:nth-child(7) {
  color: blue;
}
