.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.rbc-toolbar .rbc-btn-group {
  display: flex;
}

.rbc-toolbar .rbc-btn-group button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #c3e0ff;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rbc-toolbar .rbc-btn-group button:hover {
  background-color: #a2d1ff;
}

.rbc-toolbar .rbc-btn-group button:active {
  transform: translateY(1px);
}

.rbc-toolbar-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.rbc-toolbar-datepicker {
  display: flex;
  align-items: center;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 150px;
  margin: 0 5px;
}

.custom-select select {
  display: none; /* 숨김 처리 */
}

.custom-select::before {
  content: attr(data-value);
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  text-align: left;
}

.custom-select:hover::before {
  border-color: #007bff;
}

.custom-select::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
}

.custom-select select:focus + .custom-select::before {
  border-color: #007bff;
}

/* 실제 select 요소를 클릭할 수 있도록 이벤트를 방지 */
.custom-select::before {
  pointer-events: none;
}

.custom-select select:focus + .custom-select::before,
.custom-select select:active + .custom-select::before {
  border-color: #007bff;
}
