.FilterBar {
  display: flex;
  justify-content: space-between;
}

.FilterBar > div {
  position: relative;
}

.FilterBar > div > div {
  display: none;
  position: absolute;
  left: 0; /* 서브 메뉴를 부모 요소의 왼쪽에 맞춤 */
  top: 100%; /* 서브 메뉴를 부모 요소 바로 아래로 배치 */
  background-color: rgb(104, 111, 175);
  border: 1px solid #664040;
  width: 150px;
}

.FilterBar > div:hover > div,
.FilterBar > div:focus-within > div {
  display: block;
}

.FilterBar > div > div > div {
  padding: 8px 12px;
}

.FilterBar > div > div > div:hover {
  background-color: #5c1d1d;
}
