.Header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid 2px tomato;
  padding: 20px;
  height: 150px;
}

.Header_ {
  display: flex;
  /* justify-content: space-between; */
}

.Home {
  cursor: pointer;
  height: fit-content;
}
.HeaderMenu {
  display: flex;
  gap: 20px;
}
.HeaderMenu > div:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* Header.css */
.Header_ .Home img {
  width: 50px; /* 원하는 너비로 조정 */
  height: auto; /* 높이는 자동으로 조정 */
}
