.NavigatorBar {
  display: flex;
  justify-content: space-around;
  background-color: #0083cc;
}

.NavigatorBar > div > div {
  padding: 20px 0px;
  transition: background-color 0.7s ease;
}

.NavigatorBar:hover > div > div {
  display: block;
  /* background: rgba#74abcf(224, 159, 159, 0.9); */
  background: rgba(137, 179, 228, 0.9);
}
