.Footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  border-top: solid 2px rgb(207, 209, 209, 0.7);
}
.inquiry {
  display: flex;
  gap: 20px;
}
.Footer_text {
  padding-left: 50px;
}
.link {
  display: flex;
  gap: 12px;
  align-items: center;
}
