/* .Bar_NAV 클래스에 대한 스타일 */
.NavBarList {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 200px;
  z-index: 1;
  border-right: solid 0.4px rgb(241, 149, 149);
  color: white;
}
.NavBarList:hover {
  /* background: #64aedf; */
  background: #630a96;
  transition: background-color 0.7s ease;
}
.Bar_NAV {
  padding-top: 12px;
  cursor: pointer;
  height: 100%;
  display: none;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* 전환 효과 설정 */
}
.Title_NAV {
  padding: 10px;
  border-radius: 24px;
  background-color: rgb(153, 150, 150);
}

.Bar_NAV > div {
  min-width: max-content;
  transition: color 0.4s ease, text-decoration 0.5s ease;
}

.Bar_NAV > div:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(181, 238, 219);
}

/* .Bar_LIST 클래스에 대한 스타일 */
.Bar_LIST {
  cursor: pointer;
  color: rgb(247, 0, 0);
  min-width: max-content;
  padding-top: 8px;
}
.Bar_LIST > div:hover {
  text-decoration: underline;
}

.SubItems {
  margin-left: 20px;
}

.SubItems .SubItem {
  cursor: pointer;
}

.SubItems .SubItem:hover {
  text-decoration: underline;
}
.List > div {
  color: black;
  background: white;
  border: none;
}
.List > div:hover {
  background: white;
  border: none;
}
