.nav_title {
  padding: 16px 12px;
  font-weight: 500;
  color: white;
}
.navbar {
  background-color: #0697e6;
  width: 100%;
  flex-direction: column;
  text-align: center;
  min-width: fit-content;
}
.nav_list {
  padding-top: 12px;
  background-color: #26a1e4;
  height: 200px;
  display: none;
  overflow: hidden; /* 추가 */
}
.nav_list > div {
  padding: 2px;
}
.nav_list > div > a {
  min-width: fit-content;
  color: white;
  text-decoration: none; /* 밑줄 제거 */
  padding: 10px 0;
  /* min-width: max-content; */
}
.nav_list > div > a:hover {
  color: rgb(219, 148, 16);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.4s ease, text-decoration 0.5s ease;
}

.nav_list:hover {
  background: #0697e6;
}

/* list */
.List {
  min-width: fit-content;
}
.listbar {
  display: grid;
  border: solid 2px;
}
.list_title {
  background-color: rgb(65, 68, 65);
  border: none;
  color: white;

  padding: 12px 24px;
}
.list_list {
  padding: 12px 24px;
  display: grid;
  gap: 12px;
}
.list_list > div:hover {
  color: rgb(219, 148, 16);
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.4s ease, text-decoration 0.5s ease;
}
