.AdminLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.AdminHeader {
  background-color: #333;
  color: white;
  padding: 20px;
}

.AdminHeader h1 {
  margin: 0;
}

.AdminHeader nav ul {
  list-style-type: none;
  padding: 0;
}

.AdminHeader nav ul li {
  cursor: pointer;
  display: inline;
  margin-right: 20px;
  transition: color 0.7s ease;
}
.AdminHeader nav ul li:hover {
  text-decoration: underline;
  color: aquamarine;
}

.AdminHeader nav ul li a {
  color: white;
  text-decoration: none;
}

.AdminMain {
  border: solid 2px brown;
  padding: 20px;
  /* background-color: #f0f0f0; */
  min-height: calc(100vh - 120px); /* 화면 높이에서 헤더와 푸터의 높이를 제외한 영역만큼 높이 설정 */
}

.AdminFooter {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
